
.container
{
  font-family: 'Anuphan', sans-serif;
  margin: 0;
  height: 80%;
}
  .one h1 {
    text-align: center! important;
    padding-bottom: 5px;
    padding-top: 5%;
    position: relative;
    font-family: 'Anuphan', sans-serif;
    font-weight: 300;
    font-size: 38px;

  }

  .link{
    color: #3366CC ;
  }

  #line:hover{
    text-decoration: underline;
  }

.two h3{
     text-align: center;
    padding-top: 25px;
    position: relative;
    font-size: 1rem;
    font-weight: 200;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.form-l{
    display: flex;
    justify-content: center;
    margin: 3.5% 3.5% 0 3.5%;
}


.email-l{
    width:50%;
    display: inline-block;
    padding: 1.5%;
    border: none;
    box-sizing: border-box;
    background-color: #EEEEEE;
}

 .error-email{
    border:2px solid red;
  }


.lar {
    font-size: large;
    font-weight: bold;
    color: rgb(86, 51, 51);
}


.submit-f {
     appearance: none;
  background-color: #405cf5;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Anuphan', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 2rem;
  }

input::-webkit-input-placeholder {
    color: rgb(86, 51, 51);
    font-weight:bold;
    font-size: large;
}
input:-moz-placeholder {
    color: rgb(30, 17, 17);
    font-weight: bold;
}
input:-ms-input-placeholder {
    color:rgb(44, 28, 28);
    font-weight: bold;
}

.link{
  text-decoration: none;
  font-weight: 700;
}

.link1{
  text-decoration: none;
  color: #3366CC;
}

.frgt-password{
  margin-top: 0.4rem;
  margin-left: 51rem;
}

.two h3{
  font-weight: 700;
}


  @media only screen and (max-width: 900px) {
   
    .one h1{
      position: center;
      text-align: center;
      font-size: 26px;
      font-weight: 250;
      margin: 15px;
    }
    .two h3{
      position: center;
      text-align: center;
      font-size: 20px;
      
    }
    .form-l {
       padding: 5%;

   }
    .email-l {
        width: 65%;
        padding: 18px;
    }
    .frgt-password{
      margin-left: 11rem;
    }
  }

